<div class="sidebar-nav">
  <div class="logo-container">
    <img src="assets/logo.jpg" width="30" alt="img" />
  </div>

  <ul>
    <li class="active">
      <a class="side-nav-link"><span class="side-nav-icon"></span> Import trade</a>
    </li>
    <li>
      <a class="side-nav-link"><span class="side-nav-icon"></span> Trade Blotter</a>
    </li>
    <li>
      <a class="side-nav-link"><span class="side-nav-icon"></span> Customer Master</a>
    </li>
  </ul>

  <!-- <div class="button-container" style="text-align: center">
    <button class="btn btn-primary nav-button-item">Import</button>
  </div>
  <div class="button-container" style="text-align: center">
    <button class="btn btn-primary nav-button-item" (click)="gotoTable()" >Import</button>
  </div> -->

</div>
